{
  "swagger": "2.0",
  "info": {
    "description": "Transliterate Spanish text to Andaluh EPA and optionally return Andaluh verb conjugations. Further info: https://github.com/andalugeeks/andaluh-py",
    "version": "0.3.0",
    "title": "Andaluh API",
    "termsOfService": "https://andaluh.es/terms/",
    "contact": {
      "email": "andalugeeks@gmail.com"
    },
    "license": {
      "name": "Affero GPL v3.0",
      "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
    }
  },
  "host": "api.andaluh.es",
  "basePath": "/",
  "tags": [
    {
      "name": "transliteration",
      "description": "Spanish text to transliterate to andaluz proposals"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/epa": {
      "get": {
        "tags": [
          "transliteration"
        ],
        "summary": "Transliterates spanish text to andaluh EPA",
        "operationId": "getEpa",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "spanish",
            "in": "query",
            "description": "Spanish text to transliterate",
            "required": true,
            "default": "Toda comunidad lingüística tiene derecho a codificar, estandarizar, preservar, desarrollar y promover su sistema lingüístico, sin interferencias inducidas o forzadas.\" Art. 9 de la Declaración Universal de los Derechos Lingüísticos",
            "type": "string"
          },
          {
            "name": "vaf",
            "in": "query",
            "description": "Voiceless alveolar fricative /s/: Use it to enforce seseo (assign \"s\"), zezeo (assign \"z\") or heheo (assign \"h\") instead of cedilla.",
            "required": false,
            "default": "ç",
            "type": "string",
            "enum": ["ç", "z", "s", "h"]
          },
          {
            "name": "vvf",
            "in": "query",
            "description": "Voiceless velar fricative /x/: Use it to keep /x/ sounds as J instead of /h/ by assigning \"j\"",
            "required": false,
            "default": "h",
            "type": "string",
            "enum": ["h", "j"]
          },
          {
            "name": "escapeLinks",
            "in": "query",
            "description": "Ignore URLs, mentions and hashtags on the transliteration",
            "required": false,
            "default": false,
            "type": "boolean"
          },
          {
            "name": "conjugate",
            "in": "query",
            "description": "Return Andaluh verb conjugation data using andaluh-verbs when true.",
            "required": false,
            "default": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Transliteration"
            },
            "examples": {
              "application/json": {
                "spanish": "jocifar",
                "andaluh": "hoçifâh",
                "rules": {
                  "vaf": "ç",
                  "vvf": "h",
                  "escapeLinks": false,
                  "conjugate": true
                },
                "conjugation": {
                  "infinitibo": [
                    "hoçifâh"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Transliteration": {
      "type": "object",
      "properties": {
        "spanish": {
          "type": "string"
        },
        "andaluh": {
          "type": "string"
        },
        "rules": {
          "type": "object",
          "properties": {
            "vaf": {
              "type": "string"
            },
            "vvf": {
              "type": "string"
            },
            "escapeLinks": {
              "type": "boolean"
            },
            "conjugate": {
              "type": "boolean"
            }
          }
        },
        "conjugation": {
          "type": "object",
          "description": "Optional conjugation payload returned when the conjugate query parameter is true."
        },
        "conjugation_error": {
          "type": "string",
          "description": "Optional error string returned if conjugation was requested but could not be generated."
        }
      }
    }
  }
}
